# ignore python compiled files
*.pyc

#ignore gedit temp files
*.*~

# ignore binaries and build files
build/*
bin/*
lib/*
srv_gen/*

temp_images/

#ignore eclipse files
.cproject
.project
.pydevproject
CATKIN_IGNORE
catkin/
catkin_generated/
cmake_install.cmake
devel/
gtest/

